nav{
    height: 60px;
    /* background-color: red; */
}

.nav-search{
    background-color: #e5e5e5;
}

.fa-chart-simple, .fa-gear{
    width: 18px;
}
.my-big-container{
    width: 100vw;
    height: calc(100vh - 60px);
    /* background-color: red; */
}

.my-big-container aside{
    width: 150px;
    background-color: #051e34;
    background-image: url("/img/sidebar-bg.png");

}

.my-big-container main{
    overflow: auto;
    width: calc(100% - 150px);
}

.my-big-container main header{
    background-color: #1b72e8;
}

.my-breadcrumb{
    background-color: #165bba;
}

.breadcrumb-item+.breadcrumb-item::before{
    --bs-breadcrumb-item-padding-x: 0;
    color: white;
}

.my-table td:not(:first-child),
.my-table th:not(:first-child){
    width: 100px;
    text-align: center;
}

.my-table td img{
    height: 30px;
}
    
    

.offcanvas.my-offcanvas{
    width: 600px;
}


/* Media__________________ */

@media screen and (max-width: 992px){
    
    .my-big-container aside{
        width: 50px;
    }

    .my-big-container main{
        width: calc(100% - 50px);
    }
    
    .offcanvas.my-offcanvas{
        width: 100%;
    }
       
    .text-aside{
        display: none;
    }
}



